.WorkItem {
    @apply p-1 max-lg:border max-lg:border-primary/50 pb-6 sm:p-6 lg:bg-backgroundsecondary h-full overflow-hidden flex flex-col;
}

.WorkItem__imageArea {
    @apply relative mx-auto flex items-center justify-center grow-0
    w-[340px] h-[238px] 
    sm:w-[518px] sm:h-[352px] 
    lg:w-[420px] lg:h-[295px] 
    xl:w-[524px] xl:h-[352px];
}

.WorkItem__details {
    @apply p-1 flex flex-col justify-between items-center gap-y-6 grow;
}

.WorkItem__details h3 {
    @apply mb-0 text-center;
}

.WorkItem__details p {
    @apply text-base font-light text-white/80 text-center;
}

.WorkItem__technologies {
    @apply flex flex-wrap gap-3 justify-center grow;
}

.WorkItem__buttonArea {
    @apply pt-3 py-1 mt-auto flex items-center justify-center grow-0 gap-6;
}